.Title {
    display: flex;
    align-self: flex-start;
    font-family: monospace;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
}

.NavBar {
    display: flex;
    min-width: 100rem;
    min-height: 10%;
    background-color: #DE9E22;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0em;
}

.Links{
    display: flex;
    justify-content: left;
    flex-direction: row;
    text-align: right;
    color: white;
    padding-left: 2em;
    font-size: medium;
}