.Title {
    display: flex;
    align-self: flex-start;
    font-family: monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-left: 2em;
    width: 4em;
    
}

.NavBar {
    display: flex;
    align-items: center;
    min-width: 100rem;
    min-height: 10%;
    background-color: #DE9E22;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0em;
}


.LinksContainer{
    display: flex;
    justify-content: right;
    align-items: end;
    flex-direction: row;
    max-width: 20%;
    margin-right: 0em;
    margin-left: 65%
}

.Links{
    text-align: right;
    color: #365A73;
    padding-left: 2em;
    font-size: large;
    margin-right: 0%;
}