.FooterContainer {
    display: flex;
    align-items: center;
    min-width: 100rem;
    min-height: 10%;
    background-color: #3D5F77;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0em;
}


.FooterInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: medium;
    padding: 2px;
}

