.AboutContiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30em;
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    text-align: center;
    background: #5486A9
}

.CircleTxt {
    /* position: absolute; */
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    max-width: 35em;
    word-wrap: break-word;
    max-height: 15em;
    color: #fff;
}
